.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.game-over {
    font-family: "Arial", sans-serif;
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -50px;
}

.points {
    font-family: "Arial", sans-serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: darkorange;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}
