body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
    color: black;
}

h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
    color: black;
}

p {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.player-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.player-box {
    width: 250px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.player-box h2 {
    font-size: 24px;
    color: black; /* Black */
    margin-bottom: 10px;
}

.player-box p {
    font-size: 18px;
    margin-bottom: 8px;
}

.player-box span {
    color: black; /* Black */
}

.player-box.player1 {
    background-color: #ffb300; /* Orange */
}

.player-box.player2 {
    background-color: #ff5050; /* Red */
}


button {
    background-color: darkorange;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.player1-button {
    margin-right: 85px;
}

.player2-button {
    margin-left: 85px;

}

button:hover {
    background-color: orange;
}
