<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/game-start.css}" />
    <title>Game Start</title>
</head>
<body>
<div class="container">
    <h1 class="title">Guess the Better (Statistical) NBA Player!</h1>
    <form id="startForm" action="/game/start/submit" method="post">
        <button type="submit" name="response" value="points" class="custom-button">Guess higher points per game</button>
        <button type="submit" name="response" value="assists" class="custom-button">Guess higher assists per game</button>
        <button type="submit" name="response" value="threePtPercentage" class="custom-button">Guess higher three-point percentage</button>
    </form>
</div>
</body>
</html>
